<script>
    var options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "7000",
        "extendedTimeOut": "4000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "allowHtml": true // enable HTML in the message
    }
</script>

@if (TempData["ResetLinkSent_Success"] != null)
{
    @*<div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i>
        Link for Reset Password has been sent to <a href="https://mail.google.com/" class="alert-link" target="_blank">@TempData["ResetLinkSent_Success"]</a>!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["ResetLinkSent_Success"] <a href="https://mail.google.com/" class="toastr-link" target="_blank">@TempData["ResetLinkEmail"]</a>', 'Link Sent!', options);
    </script>
}